@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
#wrapper {
	display: grid;
	grid-template-rows: 9% 1fr;
	height: 100vh;
}
a {
	text-decoration: none;
}
main {
	background-image: url(https://im0-tub-ru.yandex.net/i?id=0a44266e5c582cfbaf3a96cce763b407&n=13);
	overflow: auto;
	background-size: cover;
}
header {
	background-color: #E7003E;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header a,#time{
	color: white;
	margin-left: 15px;
	font-size: 1.1em;
	margin: 15px;
}
h2 {
	color: white;
	text-align: center;
	padding: 2em;
	background: linear-gradient(0deg, transparent 13%, #E7003E);
}
.column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2em;
}
.item {
	width: 25%;
	height: 300px;
	background-size: cover;
	border-radius: 5px;
	cursor: pointer;
}
.inner-item {
	display: flex;
    height: 100%;
    align-items: flex-end;
    background: linear-gradient(0deg, #960028, transparent 25%);
    border-radius: 5px;
    color: white;
    justify-content: center;
}
.inner-item:hover {
    background: linear-gradient(0deg, #960028, transparent 35%);
}
.inner-item h3{
	padding: 1em;
}
#the-main-day {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 2em;
}